
<div class="container">

<h1>Find a Job</h1>

      <%= form_tag locations_result_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Job near your location", :name => nil %>
        </p>
      <% end %>
   


<% @jobs.each do |job| %>
    <%= link_to job_path(job), :class => "jobbox" do %>
        <div class="jobshow">
            <h2><%= job.task %></h2>
            <h3><%= job.location %></h3>
            <h3></h3><%= job.duration %>
            <p><%= job.description %></p>
       </div>  
    <% end %>
   </div>
<% end %>
