<div class="form"><%# Create a new user %>
<h1>Sign up</h1>

<% if @user.errors.any? %> 
    <ol>
        <% @user.errors.full_messages.each do |msg| %> <%# if any deatils were incorrect for the sign up for example the password, an error message will appear %> 
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>
<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :family ,'Surname '%>
    <%= f.text_field :family %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %> <%# checks for passowrd match<%#  %> %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign up!",:class=> 'submit' %>
<% end %>
</div>
