<h1>Pages#home</h1>



<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<button><%=link_to 'Find a Job' ,jobs_path%></button>
<button><%= link_to 'Post a job', new_job_path %></button>