<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@locations.first.latitude}%2C#{@locations.first.longitude}" %>

<h3>Nearby Jobs</h3>
<ul>
<%  @locations.each do |job| %>
    <%= link_to job_path(job), :class => "jobbox" do %>
        <div class="jobshow">
            <h2><%= job.task %></h2>
            <h3><%= job.location %></h3>
            <h3></h3><%= job.duration %>
            <p><%= job.description %></p>
       </div>  
    <% end %>
<% end %>
</ul>